<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="v-align-block-wrapper">
      <div class="v-align-block">
        <div class="v-align-block-fallback">
          <div class="page">
            <div class="text">
              <h1>Lukáš Kubánek</h1>
              <%= lorem.paragraph %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>